p {
	margin: 10px;
	margin-left: 20px;
	margin-right: 20px;
	background-color: white;
	padding: 0px;
}

h1 {
	text-align: center;
}

body {
   background-image: url("image/pexels-photo-280375.jpeg");
  }

table {
	margin-right: 10px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
}

table {
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid black;
}


.selectsdiv {
	padding-left: 20px;
}

a.button {
	display: inline-block;
	box-sizing: border-box;
	margin: 0;
	padding: 1px 6px;
	font: 16px Arial;
	text-rendering: auto;
	text-align: center;
	text-transform: none;
	text-decoration: none;
	text-indent: 0;
	text-shadow: none;
	letter-spacing: normal;
	word-spacing: normal;
	color: #fff;
	border: 2px outset buttonface;
	border-image: initial;
	background-color: #17a2b8;
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	cursor: default;
}

a.button:active {
	border-style: inset;
}

/*div.dataTables_wrapper div.dataTables_filter input {
	width: 400px; align
}*/